################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NewDynamicFormsClaude/FileContentIndex
/.vs/NewDynamicsFormClaude/FileContentIndex
/Src/DynamicForms.Core/.vs/DynamicForms.Core/FileContentIndex
